@font-face {
  font-family: 'Sonus';
  src: url("../font/sonus/SonusReg.eot");
  src: url("../font/sonus/SonusReg.eot?#iefix") format("embedded-opentype"), url("../font/sonus/SonusReg.woff") format("woff"), url("../font/sonus/SonusReg.ttf") format('truetype'), url("../font/sonus/SonusReg.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Sonus light';
  src: url("../font/sonus/SonusLig.eot");
  src: url("../font/sonus/SonusLig.eot?#iefix") format("embedded-opentype"), url("../font/sonus/SonusLig.woff") format("woff"), url("../font/sonus/SonusLig.ttf") format('truetype'), url("../font/sonus/SonusLig.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Sonus bold';
  src: url("../font/sonus/SonusBol.eot");
  src: url("../font/sonus/SonusBol.eot?#iefix") format("embedded-opentype"), url("../font/sonus/SonusBol.woff") format("woff"), url("../font/sonus/SonusBol.ttf") format('truetype'), url("../font/sonus/SonusBol.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo UltraLight';
  src: url("../font/clavo/Clavo-UltraLight.eot");
  src: url("../font/clavo/Clavo-UltraLight.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-UltraLight.woff") format("woff"), url("../font/clavo/Clavo-UltraLight.ttf") format("truetype"), url("../font/clavo/Clavo-UltraLight.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo UltraLight Italic';
  src: url("../font/clavo/Clavo-UltraLight-Italic.eot");
  src: url("../font/clavo/Clavo-UltraLight-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-UltraLight-Italic.woff") format("woff"), url("../font/clavo/Clavo-UltraLight-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-UltraLight-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo ExtraLight';
  src: url("../font/clavo/Clavo-ExtraLight.eot");
  src: url("../font/clavo/Clavo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-ExtraLight.woff") format("woff"), url("../font/clavo/Clavo-ExtraLight.ttf") format("truetype"), url("../font/clavo/Clavo-ExtraLight.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo ExtraLight Italic';
  src: url("../font/clavo/Clavo-ExtraLight-Italic.eot");
  src: url("../font/clavo/Clavo-ExtraLight-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-ExtraLight-Italic.woff") format("woff"), url("../font/clavo/Clavo-ExtraLight-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-ExtraLight-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Light';
  src: url("../font/clavo/Clavo-Light.eot");
  src: url("../font/clavo/Clavo-Light.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Light.woff") format("woff"), url("../font/clavo/Clavo-Light.ttf") format("truetype"), url("../font/clavo/Clavo-Light.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 250;
}
@font-face {
  font-family: 'Clavo Light Italic';
  src: url("../font/clavo/Clavo-Light-Italic.eot");
  src: url("../font/clavo/Clavo-Light-Italic.?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Light-Italic.woff") format("woff"), url("../font/clavo/Clavo-Light-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-Light-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Thin';
  src: url("../font/clavo/Clavo-Thin.eot");
  src: url("../font/clavo/Clavo-Thin.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Thin.woff") format("woff"), url("../font/clavo/Clavo-Thin.ttf") format("truetype"), url("../font/clavo/Clavo-Thin.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Thin Italic';
  src: url("../font/clavo/Clavo-Thin-Italic.eot");
  src: url("../font/clavo/Clavo-Thin-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Thin-Italic.woff") format("woff"), url("../font/clavo/Clavo-Thin-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-Thin-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Book';
  src: url("../font/clavo/Clavo-Book.eot");
  src: url("../font/clavo/Clavo-Book.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Book.woff") format("woff"), url("../font/clavo/Clavo-Book.ttf") format("truetype"), url("../font/clavo/Clavo-Book.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 350;
}
@font-face {
  font-family: 'Clavo Book Italic';
  src: url("../font/clavo/Clavo-Book-Italic.eot");
  src: url("../font/clavo/Clavo-Book-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Book-Italic.woff") format("woff"), url("../font/clavo/Clavo-Book-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-Book-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 350;
}
@font-face {
  font-family: 'Clavo Regular';
  src: url("../font/clavo/Clavo-Regular.eot");
  src: url("../font/clavo/Clavo-Regular.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Regular.woff") format("woff"), url("../font/clavo/Clavo-Regular.ttf") format("truetype"), url("../font/clavo/Clavo-Regular.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Regular Italic';
  src: url("../font/clavo/Clavo-Regular-Italic.eot");
  src: url("../font/clavo/Clavo-Regular-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Regular-Italic.woff") format("woff"), url("../font/clavo/Clavo-Regular-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-Regular-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Medium';
  src: url("../font/clavo/Clavo-Medium.eot");
  src: url("../font/clavo/Clavo-Medium.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Medium.woff") format("woff"), url("../font/clavo/Clavo-Medium.ttf") format("truetype"), url("../font/clavo/Clavo-Medium.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Medium Italic';
  src: url("../font/clavo/Clavo-Medium-Italic.eot");
  src: url("../font/clavo/Clavo-Medium-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Medium-Italic.woff") format("woff"), url("../font/clavo/Clavo-Medium-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-Medium-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Bold';
  src: url("../font/clavo/Clavo-Bold.eot");
  src: url("../font/clavo/Clavo-Bold.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Bold.woff") format("woff"), url("../font/clavo/Clavo-Bold.ttf") format("truetype"), url("../font/clavo/Clavo-Bold.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Bold Italic';
  src: url("../font/clavo/Clavo-Bold-Italic.eot");
  src: url("../font/clavo/Clavo-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Bold-Italic.woff") format("woff"), url("../font/clavo/Clavo-Bold-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-Bold-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo ExtraBold';
  src: url("../font/clavo/Clavo-ExtraBold.eot");
  src: url("../font/clavo/Clavo-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-ExtraBold.woff") format("woff"), url("../font/clavo/Clavo-ExtraBold.ttf") format("truetype"), url("../font/clavo/Clavo-ExtraBold.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo ExtraBold Italic';
  src: url("../font/clavo/Clavo-ExtraBold-Italic.eot");
  src: url("../font/clavo/Clavo-ExtraBold-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-ExtraBold-Italic.woff") format("woff"), url("../font/clavo/Clavo-ExtraBold-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-ExtraBold-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Black';
  src: url("../font/clavo/Clavo-Black.eot");
  src: url("../font/clavo/Clavo-Black.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Black.woff") format("woff"), url("../font/clavo/Clavo-Black.ttf") format("truetype"), url("../font/clavo/Clavo-Black.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Clavo Black Italic';
  src: url("../font/clavo/Clavo-Black-Italic.eot");
  src: url("../font/clavo/Clavo-Black-Italic.eot?#iefix") format("embedded-opentype"), url("../font/clavo/Clavo-Black-Italic.woff") format("woff"), url("../font/clavo/Clavo-Black-Italic.ttf") format("truetype"), url("../font/clavo/Clavo-Black-Italic.svg#clavo") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "mkbl-icons";
  src: url("../font/mkbl-icons.eot");
  src: url("../font/mkbl-icons.eot?#iefix") format("embedded-opentype"), url("../font/mkbl-icons.woff") format("woff"), url("../font/mkbl-icons.ttf") format("truetype"), url("../font/mkbl-icons.svg#mkbl-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "mkbl-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mkbl-icon,
.mkbl-icons,
.mkbl-share-icon,
.mkbl-share-icons,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mkbl-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mkbl-brain-01:before {
  content: "a";
}
.icon-mkbl-brain-02:before {
  content: "b";
}
.icon-mkbl-categories:before {
  content: "c";
}
.icon-mkbl-comments-01:before {
  content: "d";
}
.icon-mkbl-comments-02:before {
  content: "e";
}
.icon-mkbl-comments-03:before {
  content: "f";
}
.icon-mkbl-down:before {
  content: "g";
}
.icon-mkbl-email:before {
  content: "h";
}
.icon-mkbl-gear:before {
  content: "j";
}
.icon-mkbl-gears:before {
  content: "k";
}
.icon-mkbl-left:before {
  content: "l";
}
.icon-mkbl-light:before {
  content: "m";
}
.icon-mkbl-location:before {
  content: "i";
}
.icon-mkbl-pencil:before {
  content: "r";
}
.icon-mkbl-right:before {
  content: "s";
}
.icon-mkbl-share:before {
  content: "t";
}
.icon-mkbl-tags:before {
  content: "u";
}
.icon-mkbl-tools:before {
  content: "v";
}
.icon-mkbl-youtube-alt:before {
  content: "y";
}
.icon-mkbl-flickr:before {
  content: "z";
}
.icon-mkbl-instagrem:before {
  content: "A";
}
.icon-mkbl-github:before {
  content: "n";
}
.icon-mkbl-linkedin:before {
  content: "o";
}
.icon-mkbl-facebook:before {
  content: "p";
}
.icon-mkbl-github-alt:before {
  content: "q";
}
.icon-mkbl-twitter-alt:before {
  content: "w";
}
.icon-mkbl-client-list2:before {
  content: "x";
}
.icon-mkbl-client-list:before {
  content: "B";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  background: url("../img/background-dark.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
img,
video,
audio,
embed,
object,
input,
iframe,
svg {
  width: 100%;
  max-width: 100%;
}
svg {
  pointer-events: none;
}
.container {
  max-width: 144rem;
  margin: auto;
}
a {
  border: 0;
  text-decoration: none;
  color: #484848;
}
a:hover {
  text-decoration: none;
}
a:hover,
a:active {
  border: 0;
  text-decoration: none;
  color: #484848;
}
.orange-path,
.gears-group svg:nth-child(1) path:nth-of-type(1),
.gears-group svg:nth-child(2) path:nth-of-type(1),
.github:hover path {
  fill: #ef6924;
}
.liteorange-path,
.gears-group svg:nth-child(1) path:nth-of-type(n+2),
.gears-group svg:nth-child(2) path:nth-of-type(2) {
  fill: #f8971d;
}
.gray-path,
.github path {
  fill: #484848;
}
h1 {
  color: #484848;
  font-family: 'Sonus Light';
  font-size: 2rem;
  margin-top: 20rem;
  text-align: center;
}
.gears-group {
  width: 80rem;
  height: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.gears-group svg {
  display: inline-block;
}
.gears-group svg:nth-child(1) {
  -webkit-animation: spin 12s linear 0s infinite forwards;
  -moz-animation: spin 12s linear 0s infinite forwards;
  -o-animation: spin 12s linear 0s infinite forwards;
  -ms-animation: spin 12s linear 0s infinite forwards;
  animation: spin 12s linear 0s infinite forwards;
  width: 49.5%;
}
.gears-group svg:nth-child(2) {
  width: 49.5%;
  -webkit-animation: spin 12s linear 0s infinite reverse;
  -moz-animation: spin 12s linear 0s infinite reverse;
  -o-animation: spin 12s linear 0s infinite reverse;
  -ms-animation: spin 12s linear 0s infinite reverse;
  animation: spin 12s linear 0s infinite reverse;
}
.gears-group svg:nth-child(2):nth-child(2) {
  position: relative;
  top: 9.18rem;
  left: -4.55rem;
}
.github {
  position: fixed;
  bottom: 5rem;
  text-align: center;
  width: 100%;
}
.github svg {
  width: 3%;
}
.github path {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
